@font-face {
    font-family: 'Lato';
    src: url(../src/fonts/Lato-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}
